doctype html
head
  // Bootstrap CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
  link(rel='stylesheet' href='./styles/login-style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet')
  meta(charset='utf-8')
  title Register
  base(href='/')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' type='image/x-icon' href='.images/square-conquerors-favicon.ico')
  script(type='text/javascript' src='./logic/register.js')
#register
  h3.text-center.text-white.pt-5 Register form
  .container
    #register-row.row.justify-content-left.align-items-left
      #register-column.col-md-6
        #register-box.col-md-12
          form#register-form.form(action='./selectrooms.pug' method='post' onsubmit='return savePlayer()')
            h3.text-left.text-info Ready to start playing?
            h5.text-left.text-info Sign up to your new favorite game!
            .form-group
              label.text-info(for='username') Username:
              br
              input#username.form-control(type='text' name='username' required='')
            .form-group
              label.text-info(for='password') Password:
              br
              input#password.form-control(type='password' name='password' pattern='^[a-zA-Z][a-zA-Z0-9]{3,15}$' title='The password field must begin with a letter,and contain letters and numbers. It must also contain from 3 to 15 characters' required='')
            .form-group
              label#avatar-label.text-info(for='avatar' required='') Avatar:
              br
              #avatars
                form
                  label.avatars
                    input(type='radio' name='selectedAvatar' value='./images/darthVader.png')
                    img(src='./images/darthVader.png' alt='')
                  label.avatars
                    input(type='radio' name='selectedAvatar' value='./images/goku.jpg')
                    img(src='./images/goku.jpg' alt='')
                  label.avatars
                    input(type='radio' name='selectedAvatar' value='./images/mickey.jpg')
                    img(src='./images/mickey.jpg' alt='')
                  label.avatars
                    input(type='radio' name='selectedAvatar' value='./images/naruto.jpg')
                    img(src='./images/naruto.jpg' alt='')
                  label.avatars
                    input(type='radio' name='selectedAvatar' value='./images/vegeta.jpg')
                    img(src='./images/vegeta.jpg' alt='')
              input.btn.btn-info.btn-md(type='submit' name='submit' value='Sign up')
            #register-link.text-left
              a.text-info(href='./login.pug') Are you already a user? Log in now!
      #image-column.col-md-6
        img(src='./images/square-conquerors-logo.png' alt='logo' width='600' height='600')
// Separate JQuery, Popper and Bootstrap JS
script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
//script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js' integrity='sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF' crossorigin='anonymous')
